*               text=auto eol=lf
*.sh            eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.jpg           -text
*.gif           -text
*.png           -text
*.jpg           -text
*.swf           -text
*.ico           -text
*.psd           -text
*.doc           -text
*.mk            -text
*.patch         -text
ecl/regress/crmultiline*.ecl eol=crlf
